@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700;900&display=swap');

body {
    background-image: url("../images/landingpage_background.png");
    background-size: 140%;
    background-position: center;
    background-position: bottom 100px;
    background-repeat: no-repeat;
    font-family: "Montserrat", roboto;
    background-attachment: fixed;
}

#logo img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 12px;
}

.content {
    position: absolute;
    /* left: 50%; */
    /* top: 80%; */
    margin-top: 100px;
    /* transform: translate(-50%, -50%); */
    padding: 10px;
    width: 50%;
    transform:translateX(50%)
    }

p {
    font-size: 0.9em;
}

#text {
    margin-top: 25px;
}


#three_viz {
    width: 100%;
    margin-top: 10px;
}

#three_viz img {
    display: block;
    margin-left: auto;
    margin-right: auto
}

td, th {
    text-align: left;
    padding: 10px;
  }

/* #three_viz p{
    margin:0;
    margin-top: 10px;
    margin-bottom: 20px;
}

#spiral_viz{
    display: block;
    width: 33%;
    float: left;
    margin-right:10px ;
}

#network_viz{
    width: 33%;
    float: left;
    width: 32%;
    margin-right:10px ;
}

#timelines_viz{
    width: 33%;
    float: left;
    width: 32%;
} */

#three_viz a{
    color: black;
}

#info {
    margin-top: px;
    display:inline-block;
}

#guide {
    display:inline-block;
}
